# IDE
.vscode/
.idea/
*.swp
*.swo

# Backend
backend/.gradle/
backend/build/
backend/bin/
backend/out/
.gradle/
build/

# Frontend
frontend/.next/
frontend/node_modules/
frontend/out/
node_modules/
.next/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
docker/data/
